# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Environment Variables
backend/.env

# Node
frontend/node_modules/

# Build
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep